.topMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    justify-content: center;
    width: 70%;
    margin: auto;
    height: 200px;
    margin-top: 1rem;
}

.welcomeText {
    width: 600px;

}

h3 {
    margin-bottom: 5px;
}