.menu {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

a:visited {
    text-decoration: none;
    color: #f0f0f0;
}

nav a {
    margin: 0px 30px 0px 30px;
}