.menu {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

a:visited {
    text-decoration: none;
    color: #f0f0f0;
}

nav a {
    margin: 0px 60px 0px 0px;
}

.alignmentBlock {
    width: 140px;
}