.menu {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    font-size: 1rem;
    color: #f0f0f0;
}

a {
    text-decoration: none;
    margin-right: 5%;
}

nav a:nth-of-type(3) {
    margin-right: 8%;
}


a:visited,
a:active {
    text-decoration: none;
    color: #f0f0f0;
}