.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    background-color: #303030;


}

a {
    text-decoration: none;
    margin-right: 50px;

}

nav a:nth-of-type(3) {
    margin-right: 4%;
}


a,
a:visited,
a:active {
    text-decoration: none;
    color: #72c7e0;
}