.songList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 3rem;
    padding: 1rem;

}

.songList li {
    margin-top: 10px;
    width: 200px;
    outline: 1px solid #343;
    background-color: rgb(22, 37, 22);
    padding: 15px;
    font-size: 1rem;
}

.songListHeader {
    text-align: center;
    margin-top: 40px;
    font-size: 1.2rem;
}