.imgAndDescription {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}


.profileImgDiv {
    background-color: azure;
    width: 200px;
    height: 200px;
    color: #444;
    border-radius: 10px;
}


.artistDescription,
.artistDescription textarea {
    border-radius: 10px;
}

.audioPlayer {
    min-width: 800px;
}