.searchContainer {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin-top: 4rem;
    margin-bottom: 20px;
    width: 100%;
}

.innerSearchDiv {
    grid-column: 15 / span 6;
    display: flex;
    margin-top: 10px;
    align-items: center;

}

.innerSearchDiv input,
.innerSearchDiv button {
    height: 35px;
    border-radius: 5px;
    border: none;
}

.innerSearchDiv input {
    background-color: #ccc;
    width: 100%;
    min-width: 160px;
    padding-left: 10px;
}

.innerSearchDiv button {
    width: 100px;
    min-width: 80px;
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    background-image: linear-gradient(to bottom, #bbb, #999);
}

.innerSearchDiv button:active {
    background-image: linear-gradient(to bottom, );
}


.discover {
    background-color: #222;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 1.5rem;
    color: #dbcc74;
    height: 40px;
    width: 40%;
    min-width: 365px;
    border-radius: 10px 10px 0px 0px;
}

.discover p {
    margin-left: 2.1rem;
}

@media(max-width: 1280px) {
    .searchContainer {
        display: flex;
        justify-content: center;
    }
}