.songCard {
    margin: 1.1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #1a1a1a;
    /* outline: 1px solid #444; */
}

.artistTitle,
.songTitle {
    width: 170px;
    font-size: 1rem;
    padding: 0px 0px 4px 0px;

}