* {
    padding: 0;
    margin: 0px;
}

html {
    background-color: #080808;
}

body {
    max-width: 1600px;
    margin: auto;
    background-color: #000;
    color: #f0f0f0;
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}